@use './partials/_header.scss';
@import '~bootstrap/scss/bootstrap';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
main {
    .card{
        height: 100%;
        .card-img-top{
            height: 100%;
        }
    }

}
.jumbo{
    width: 100%;
    height: 350px;
    // background-color: red;
    background-image: url(../../public/img/jumbotron.jpg);
}
